<div class="p-grid fondo">
  <div class="p-col-12"></div>
  <div class="p-col-12"></div>
  <div class="p-col-12">
    <span class="nombre">Horario laboratorio {{informacion?.nombre_lab}}</span>
  </div>
  <div class="p-col-12">
    <table class="minimalistBlack" *ngIf="horarios !== undefined">
      <thead>
      <tr>
        <th>Horario</th>
        <th>Lunes</th>
        <th>Martes</th>
        <th>Miércoles </th>
        <th>Jueves</th>
        <th>Viernes</th>
        <th>Sábado</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let info of horarios;let i = index;">
        <td> <span>{{info.hora}}</span> </td>
        <td> <span>{{info.lunes}}</span> </td>
        <td> <span>{{info.martes}}</span> </td>
        <td> <span>{{info.miercoles}}</span> </td>
        <td> <span>{{info.jueves}}</span> </td>
        <td> <span>{{info.viernes}}</span> </td>
        <td> <span>{{info.sabado}}</span> </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
