<p-toast [style]="{marginTop: '80px'}" position="top-right" key="info"></p-toast>
<div class="p-grid" id="general" (keydown)="presionoTecla($event)">
  <div class="p-col-12">
    <p-tabView  [activeIndex]="activeIndex">
      <p-tabPanel header="Inicio">
        <app-presentacion></app-presentacion>
      </p-tabPanel>
      <p-tabPanel header="Estado de Red">
        <app-estadored></app-estadored>
      </p-tabPanel>
      <p-tabPanel header="Horario">
        <app-horarios></app-horarios>
      </p-tabPanel>
      <p-tabPanel *ngIf="configuraciones === true" header="Configuraciones">
        <app-configuraciones></app-configuraciones>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
<p-dialog header="Verificación de Acceso" [(visible)]="displayClave" [style]="{height: 'auto', width: '60vw'}" [modal]="true" >
  <div class="p-grid">
    <div class="p-col-1"></div>
    <div class="p-col-4">
      <span>Ingrese la clave</span>
    </div>
    <div class="p-col-1"></div>
    <div class="p-col-5">
      <input type="password" pInputText placeholder="Clave" [(ngModel)]="clave" (keydown.enter)="verificarClave()" id="inputDialog">
    </div>
    <div class="p-col-1"></div>
    <div class="p-col-4"></div>
    <div class="p-col-4"></div>
    <div class="p-col-4">
      <button pButton (click)="verificarClave()" style="width: 100px; height: 40px">Verificar</button>
    </div>
  </div>
</p-dialog>
